<%= form_with model: survey, local: true, data: { controller: "survey" } do |f| %>
  <%= turbo_frame_tag "form_errors" do %>
    <% if survey.errors.any? %>
      <%= render 'form_errors', survey: @survey %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, "Imię" %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Nazwisko" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :age, "Wiek" %>
    <%= f.number_field :age, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :height, "Wzrost" %>
    <%= f.number_field :height, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gender, "Płeć" %>
    <%= f.select :gender, options_for_select([%w[Mężczyzna Male], %w[Kobieta Female]], @survey.gender), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :favorite_color, "Ulubiony kolor" %>
    <%= f.text_field :favorite_color, class: "form-control", data: { survey_target: "randomColor" } %>
    <%= button_tag "Losuj kolor", type: "button", data: { action: "survey#drawColor" }, class: "button" %>
  </div>

  <div class="form-group">
    <%= f.submit "Zapisz", class: "button" %>
  </div>
<% end %>
