<p>
  <strong>Imię:</strong>
  <%= survey.first_name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= survey.last_name %>
</p>

<p>
  <strong>Wiek:</strong>
  <%= survey.age %>
</p>

<p>
  <strong>Wzrost:</strong>
  <%= survey.height %>
</p>

<p>
  <strong>Płeć:</strong>
  <%= survey.gender == 'Male' ? 'Mężczyzna' : 'Kobieta' %>
</p>

<p>
  <strong>Ulubiony kolor:</strong>
  <%= survey.favorite_color %>
</p>
