<%= turbo_frame_tag "survey-list" do %>
  <div class="container">

    <h1>Podgląd Ankiety</h1>

    <% if notice %>
      <div class="notice"><%= notice %></div>
    <% end %>
    <%= render 'survey', survey: @survey %>

    <div>
      <%= link_to 'Edytuj', edit_survey_path(@survey), data: { turbo_frame: "survey-list" } %> |
      <%= link_to 'Powrót do listy', surveys_path, data: { turbo_frame: "survey-list" } %> |
      <%= button_to "Usuń", @survey, method: :delete, data: { turbo_frame: "survey-list", turbo_confirm: "Czy na pewno chcesz usunąć tę ankietę?" } %>
    </div>
  </div>
<% end %>

